# =========================
# ENVIRONNEMENT PYTHON
# =========================
env/
venv/
.venv/
__pycache__/
*.pyc

# =========================
# TOUTES LES DONNÉES
# =========================
data/


# =========================
# NOTEBOOK TEMP
# =========================
visu_temp/

# =========================
# FICHIERS SECRETS
# =========================
.env
.env.*

# =========================
# SYSTEME
# =========================
.DS_Store
Thumbs.db
