# =========================
# ENVIRONNEMENT PYTHON
# =========================
env/
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# DONNÉES (NON VERSIONNÉES)
# =========================
raw/
cleaned/
cleaned_csv/
*.csv
*.parquet
*.json

# =========================
# NOTEBOOK TEMP
# =========================
visu_temp/
*.ipynb

# =========================
# VARIABLES D'ENVIRONNEMENT
# =========================
.env
.env.*

# =========================
# FICHIERS SYSTÈME
# =========================
.DS_Store
Thumbs.db
